*{
    margin: 0px;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
}
#logo{
    margin: 10px 30px;

}

#logo img{
    height: 95px;
    margin: 3px 6px;
    border-radius: 100px;

}
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
   
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    display: block;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}


#home{
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    height: 512px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background : url(bg2.jpg) no-repeat center center/cover;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 4px solid brown;
    padding: 34px;
    margin: 3px 70px;
    border-radius: 20px;
    background: #c6b5b5;

}
#services.box img{
    
   height: 66px;
    margin: auto;
    display: block;

}


.h-primary{
    font-size: 2.5rem;
    padding: 12px;
    text-align: center;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(100, 71, 71);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.centre{
    text-align: center;
}
